@font-face {
    font-family: "cursiveHeader";
    src: local("BetterGrade-519DV"),
      url("../../assets/fonts/BetterGrade-519DV.ttf") format("truetype");
  }

.header {
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	width: 100%;
	/* height: 56px; */
	padding: 0;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	z-index: 50;
    background-image: url(../../assets/pictures/purpleFlowersEdit.png);
    background-repeat: no-repeat;
    background-size: cover
}


.header .socials {
	padding: 0 0.5rem;
	color: black;
}

.header .titleThing {
    margin: 8px;
}

.header h1 {
	justify-content: space-around;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	font-size: 116px;
	line-height: 56px;
	font-weight: 400;
    margin: 24px auto;
	color: #000;
    font-family: cursiveHeader, 'Arial Narrow Bold', sans-serif;
}

.homeText{
    display: flex;
    flex-direction: column;
align-items: center;    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

nav > p {
    margin: auto 12px;
}

.header nav {
	margin: auto;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgb(171, 159, 220);
	text-decoration: none;
	color: white;
	will-change: background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    display:flex;
    flex-direction: row;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(171,159,220,0.8);
}

.header nav a.active {
	background: rgba(128,0,128,0.6);
}
